
#search-box-label {
  color: white !important;
  font-size: 18px !important;
}

.MuiBadge-anchorOriginTopRightRectangle {
  background-color: #4caf50;
}

.MuiBadge-dot {
  background-color: #4caf50;
}
